<h4>Parámetros</h4>
<p-growl [(value)]="msjs"></p-growl>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="exampleInputEmail1">Negocio</label>
						<select name="id_negocio" id="id_negocio" class="form-control" #a [(ngModel)]="objeto_filtro.id_negocio">
							<option value=""></option>
							<option [value]="item.id" *ngFor="let item of Negocios">{{item.negocio}}</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="exampleInputEmail1">Campaña</label>
						<select name="id_campana" id="id_campana" class="form-control" #b (change)="getProveedoresxCarteras(b.value)" [(ngModel)]="objeto_filtro.id_campana">
							<option value=""></option>
							<option [value]="item.id" *ngFor="let item of Campanas">{{item.campana}}</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="exampleInputEmail1">Proveedor</label>
						<select name="id_proveedor" id="id_proveedor" class="form-control" #c (change)="getCarterasxProveedor(c.value)" [(ngModel)]="objeto_filtro.id_proveedor">
							<option value=""></option>
							<option [value]="item.id_proveedor" *ngFor="let item of Proveedores_filtro">{{item.proveedor}}</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="exampleInputEmail1">Cartera</label>
						<select name="id_cartera" id="id_cartera" class="form-control" #d [(ngModel)]="objeto_filtro.id_cartera">
							<option value=""></option>
							<option [value]="item.id_cartera" *ngFor="let item of Carteras_filtro">{{item.cartera}}</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8" style="text-align:right;">
			<button class="btn btn-primary" style="margin: 10px 0 10px 0" [disabled]="!estadoFiltro()" (click)="filtrarParametros()">Filtrar</button>
		</div>
	</div>
</div>

<p-dataTable #dt
	[value]="Parametros"
	exportFilename="Parámetros"
	selectionMode="single"
	[responsive]="true"
	[(selection)]="parametrosSelected"
	[rows]="8" 
	[paginator]="true"
	(onRowDblclick)="editarModal(dt)"
	(onRowSelect)="handleParametrosRowSelect($event)"
	(onRowUnselect)="handleParametrosRowSelect($event)"
	resizableColumns="true"
	[style]="{'font-size': '10pt'}">
		<p-column field="id" header="ID" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
		<p-column field="id_portafolio" header="Portafolio" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
		<p-column field="negocio" header="Negocio" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
		<p-column field="campana" header="Campaña" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
		<p-column field="proveedor" header="Proveedor" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
		<p-column field="cartera" header="Cartera" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
		<p-column field="base" header="Base" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
		<p-column field="clasificacion" header="Clasificacion" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
		<p-column field="atributo" header="Atributo" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
		<p-column field="descripcion" header="Tipo de error" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
		<p-column field="criterio" header="Criterio" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
		<p-column field="peso" header="Peso" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
		<p-column field="estado" header="Estado" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
</p-dataTable>

<div class="row top-30">
	<div class="col-sm-6">
		<div>
			<button pButton type="button" icon="fa-plus" iconPos="left" class="btn red-sunglo" (click)="crearModal()"></button>
			<button pButton type="button" icon="fa-pencil" iconPos="left" class="btn red-sunglo" [disabled]="!can_edit" (click)="editarModal(dt)"></button>
			<button pButton type="button" icon="fa-file-excel-o" iconPos="left" class="btn green-jungle" (click)="dt.exportCSV()" label="Generar" [disabled]="!csv"></button>
			<button pButton type="button" icon="fa-refresh" iconPos="left" class="btn yellow-soft" (click)="get(a.value, b.value, c.value, d.value)"></button>
		</div>
	</div>
</div>

<p-dialog header="Parámetros" [(visible)]="display_modal" modal="true" [width]="800" (onHide)="cambiarEstado()">
	<form [formGroup]="Formulario" novalidate="novalidate">
		<input type="hidden" name="id" formControlName="id" [(ngModel)]="objeto.id">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group row">
						<label class="col-md-3 col-form-label">Portafolio</label>
						<div class="col-md-9">
							<select class="form-control" formControlName="id_portafolio" id="id_portafolio" name="id_portafolio" [(ngModel)]="objeto.id_portafolio" #e (change)="obtenerDetalles(e.value)">
								<option value=""></option>
								<option [value]="item.id" *ngFor="let item of Portafolios">{{item.id}}</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label">Negocio</label>
						<div class="col-md-9">
							<input type="text" class="form-control" formControlName="negocio" id="negocio" name="negocio" [(ngModel)]="objeto.negocio" readonly>
							<input type="hidden" class="form-control" formControlName="id_negocio" id="id_negocio" name="id_negocio" [(ngModel)]="objeto.id_negocio" readonly>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label">Campaña</label>
						<div class="col-md-9">
							<input type="text" class="form-control" formControlName="campana" id="campana" name="campana" [(ngModel)]="objeto.campana" readonly>
							<input type="hidden" class="form-control" formControlName="id_campana" id="id_campana" name="id_campana" [(ngModel)]="objeto.id_campana">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label">Proveedor</label>
						<div class="col-md-9">
							<input type="text" class="form-control" formControlName="proveedor" id="proveedor" name="proveedor" [(ngModel)]="objeto.proveedor" readonly>
							<input type="hidden" class="form-control" formControlName="id_proveedor" id="id_proveedor" name="id_proveedor" [(ngModel)]="objeto.id_proveedor" readonly>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label">Cartera</label>
						<div class="col-md-9">
							<input type="text" class="form-control" formControlName="cartera" id="cartera" name="cartera" [(ngModel)]="objeto.cartera" readonly>
							<input type="hidden" class="form-control" formControlName="id_cartera" id="id_cartera" name="id_cartera" [(ngModel)]="objeto.id_cartera" readonly>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group row">
						<label class="col-md-3 col-form-label">Base</label>
						<div class="col-md-9">
							<input type="number" class="form-control" formControlName="base" id="base" name="base" [(ngModel)]="objeto.base" readonly>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label">Clasificación</label>
						<div class="col-md-9">
							<select class="form-control" formControlName="id_clasificacion" id="id_clasificacion" name="id_clasificacion" [(ngModel)]="objeto.id_clasificacion">
								<option value=""></option>
								<option [value]="item.id" *ngFor="let item of Clasificaciones">{{item.clasificacion}}</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label">Atributo</label>
						<div class="col-md-9">
							<select class="form-control" formControlName="id_atributo" id="id_atributo" name="id_atributo" [(ngModel)]="objeto.id_atributo">
								<option value=""></option>
								<option [value]="item.id" *ngFor="let item of Atributos">{{item.atributo}}</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label">Tipo de error</label>
						<div class="col-md-9">
							<select class="form-control" formControlName="id_tipo_error" id="id_tipo_error" name="id_tipo_error" [(ngModel)]="objeto.id_tipo_error">
								<option value=""></option>
								<option [value]="item.id" *ngFor="let item of TipoError">{{item.tipo_error}}</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label">Criterio</label>
						<div class="col-md-9">
							<select class="form-control" formControlName="id_criterio" id="id_criterio" name="id_criterio" [(ngModel)]="objeto.id_criterio">
								<option value=""></option>
								<option [value]="item.id" *ngFor="let item of Criterio">{{item.criterio}}</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label">Estado</label>
						<div class="col-md-9">
							<select class="form-control" formControlName="estado" name="estado" [(ngModel)]="objeto.estado">
								<option value="activo">Activo</option>
								<option value="inactivo">Inactivo</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label"></label>
						<div class="col-md-9">
							<input type="button" class="btn btn-primary" value="Crear" [disabled]="!Formulario.valid" (click)="set()" *ngIf="accion=='agregar'">
							<input type="button" class="btn btn-primary" value="Editar" [disabled]="!Formulario.valid" (click)="update()" *ngIf="accion=='editar'">
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</p-dialog>