<h4>Reacción</h4>

<p-growl [(value)]="msjs"></p-growl>

<p-dataTable #dt
	[value]="Reacciones"
	resizableColumns="true"
	exportFilename="Reacciones"
	selectionMode="single"
	[responsive]="true"
	[(selection)]="reaccionesSelected"
	(onRowDblclick)="editarModal(dt)"
	(onRowSelect)="handleCampanasRowSelect($event)"
	(onRowUnselect)="handleCampanasRowSelect($event)"
	[style]="{'font-size': '10pt'}">
		<p-column field="id" header="ID" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
		<p-column field="reaccion" header="Reacción" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
		<p-column field="descripcion" header="Descripción" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
		<p-column field="estado" header="Estado" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
</p-dataTable>

<div class="row top-30">
	<div class="col-sm-6">
		<div>
			<button pButton type="button" icon="fa-plus" iconPos="left" class="btn red-sunglo" (click)="crearModal()"></button>
			<button pButton type="button" icon="fa-pencil" iconPos="left" class="btn red-sunglo" [disabled]="!can_edit" (click)="editarModal(dt)"></button>
			<button pButton type="button" icon="fa-file-excel-o" iconPos="left" class="btn green-jungle" (click)="dt.exportCSV()" label="Generar" [disabled]="!csv"></button>
			<button pButton type="button" icon="fa-refresh" iconPos="left" class="btn yellow-soft" (click)="get()"></button>
		</div>
	</div>
</div>


<p-dialog header="Reacciones" [(visible)]="display_modal" modal="true" [width]="600" (onHide)="cambiarEstado()">
	<form [formGroup]="Formulario" novalidate="novalidate">
		<input type="hidden" name="id" formControlName="id" [(ngModel)]="objeto.id">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group row">
					<label class="col-md-3 col-form-label">Reacción</label>
					<div class="col-md-9">
						<input type="text" class="form-control" formControlName="reaccion" id="reaccion" name="reaccion" [(ngModel)]="objeto.reaccion">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label">Descripción</label>
					<div class="col-md-9">
						<input type="text" class="form-control" formControlName="descripcion" id="descripcion" name="descripcion" [(ngModel)]="objeto.descripcion">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label">Estado</label>
					<div class="col-md-9">
						<select class="form-control" formControlName="estado" name="estado" [(ngModel)]="objeto.estado">
							<option value="activo">Activo</option>
							<option value="inactivo">Inactivo</option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label"></label>
					<div class="col-md-9">
						<!-- <input type="button" class="btn btn-primary" value="Crear" [disabled]="!Formulario.valid" (click)="set()"> -->
						<input type="button" class="btn btn-primary" value="Crear" [disabled]="!Formulario.valid" (click)="set()" *ngIf="accion=='agregar'">
						<input type="button" class="btn btn-primary" value="Editar" [disabled]="!Formulario.valid" (click)="update()" *ngIf="accion=='editar'">
					</div>
				</div>
			</div>
		</div>
	</form>
</p-dialog>