<p-growl [(value)]="msjs"></p-growl>

<h4>Asignar evaluaciones</h4>

<div>
<button pButton (click)="abrirModalConfirmacion()" type="button" label="Nueva" icon="fa-plus-circle" class="ui-button-success" [disabled]="estado_asignacion"></button>
<button pButton type="button" label="Añadir" icon="fa-user-plus" class="ui-button-primary" [disabled]="!estado_asignacion" (click)="anadirEvaluador()"></button>
<button pButton (click)="abrirModalConfirmacionDetener()" type="button" label="Detener" icon="fa-stop-circle" class="ui-button-danger" [disabled]="!estado_asignacion"></button>
	<br>
	<br>
</div>


<p-dialog header="Confirmación" [(visible)]="display_modal_confirmation_nueva" modal="true">
    <p>¿Estás seguro que deseas iniciar una nueva asignación?</p>
    <p-footer>
        <button type="button" pButton icon="fa-check" label="Sí" (click)="confirmarNuevaAsignacion()" class="ui-button-success"></button>
        <button type="button" pButton icon="fa-close" label="No" (click)="display_modal_confirmation_nueva=false"></button>
    </p-footer>
</p-dialog>

<p-dialog header="Confirmación" [(visible)]="display_modal_confirmation_stop" modal="true">
    <p>¿Estás seguro que deseas detener esta asignación?</p>
    <p-footer>
        <button type="button" pButton icon="fa-check" label="Sí" (click)="detenerAsignacion()" class="ui-button-danger"></button>
        <button type="button" pButton icon="fa-close" label="No" (click)="display_modal_confirmation_stop=false"></button>
    </p-footer>
</p-dialog>

<p-dataTable #dt
	[value]="AsignarEvaluaciones"
	selectionMode="single"
	resizableColumns="true"
	exportFilename="Asignar Evaluaciones"
	[rows]="8" 
	[paginator]="true"
	[responsive]="true"
	[style]="{'font-size': '10pt'}">
				<p-column field="id" header="ID" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
				<p-column field="evaluador" header="Evaluador" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
				<p-column field="negocio" header="Negocio" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
				<p-column field="proveedor" header="Proveedor" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
				<p-column field="cartera" header="Cartera" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
				<p-column field="nro_agentes_asignados" header="Nro Agentes Asignados" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
				<p-column field="nro_agentes_pendientes" header="Nro Agentes Pendientes" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
				<p-column field="estado" header="Estado" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
</p-dataTable>

<div class="row top-30">
	<div class="col-sm-6">
	 <div>
			<!-- <button pButton type="button" icon="fa-plus" iconPos="left" class="btn red-sunglo" (click)="crearModal()"></button> -->
			<!-- <button pButton type="button" icon="fa-pencil" iconPos="left" class="btn red-sunglo" [disabled]="!can_edit" (click)="editarModal(dt)"></button> -->
			<button pButton type="button" icon="fa-file-excel-o" iconPos="left" class="btn green-jungle" (click)="dt.exportCSV()" label="Generar" [disabled]="!csv"></button>
			<button pButton type="button" icon="fa-refresh" iconPos="left" class="btn yellow-soft" (click)="get()"></button>
	 </div>
	</div>
</div>


<p-dialog header="Asignar evaluaciones" [(visible)]="display_modal" modal="true" [width]="600" (onHide)="cambiarEstado()">
	<form [formGroup]="Formulario" novalidate="novalidate">
		<input type="hidden" name="id" formControlName="id" [(ngModel)]="objeto.id" />
		<input type="hidden" name="id_asig_historica" formControlName="id_asig_historica" [(ngModel)]="objeto.id_asig_historica" />
		<div class="row">
			<div class="col-md-12">
				<div class="form-group row">
					<label class="col-md-3 col-form-label">Evaluador</label>
					<div class="col-md-9">
						<select class="form-control" formControlName="id_usuario" id="id_usuario" name="id_usuario" [(ngModel)]="objeto.id_usuario">
							<option value=""></option>
							<option [value]="item.id" *ngFor="let item of Usuarios">{{item.evaluador}}</option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label">Negocio</label>
					<div class="col-md-9">
						<select class="form-control" formControlName="id_negocio" id="id_negocio" name="id_negocio" [(ngModel)]="objeto.id_negocio" #n (change)="ProveedorxNegocio(n.value)">
							<option value=""></option>
							<option [value]="item.id" *ngFor="let item of Negocios">{{item.negocio}}</option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label">Proveedor</label>
					<div class="col-md-9">
						<select class="form-control" formControlName="id_proveedor" id="id_proveedor" name="id_proveedor" [(ngModel)]="objeto.id_proveedor" #p (change)="CarterasxProveedor(p.value)">
							<option value=""></option>
							<option [value]="item.id" *ngFor="let item of Proveedores">{{item.proveedor}}</option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label">Cartera</label>
					<div class="col-md-9">
						<select class="form-control" formControlName="id_cartera" id="id_cartera" name="id_cartera" #c [(ngModel)]="objeto.id_cartera" (change)="extraerNumAgentes(c.value)">
							<option value=""></option>
							<option [value]="item.id_cartera" *ngFor="let item of Carteras">{{item.cartera}}</option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label">Nro Agentes</label>
					<div class="col-md-9">
						<input type="text" class="form-control" formControlName="nro_agentes_asignados" id="nro_agentes_asignados" name="nro_agentes_asignados" [(ngModel)]="objeto.nro_agentes_asignados" readonly="true">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label"></label>
					<div class="col-md-9">
						<input type="button" class="btn btn-primary" value="Asignar" [disabled]="!Formulario.valid" (click)="set()" *ngIf="accion=='asignar'">
						<input type="button" class="btn btn-primary" value="Editar" [disabled]="!Formulario.valid" (click)="update()" *ngIf="accion=='editar'">
					</div>
				</div>
			</div>
		</div>
	</form>
</p-dialog>