<h4>Matriz de ponderaciones</h4>

<p-growl [(value)]="msjs"></p-growl>

<div class="container">
	<form name="filtrado"> <!-- El nombre es para identificar, no tiene otra utilidad -->
		<div class="row">
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="exampleInputEmail1">Negocio</label>
							<select name="id_negocio" id="id_negocio" class="form-control" #a [(ngModel)]="objeto_filtro.id_negocio">
								<option value=""></option>
								<option [value]="item.id" *ngFor="let item of Negocios">{{item.negocio}}</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="exampleInputEmail1">Campaña</label>
							<select name="id_campana" id="id_campana" class="form-control" #b (change)="getProveedoresxCarteras(b.value)" [(ngModel)]="objeto_filtro.id_campana">
								<option value=""></option>
								<option [value]="item.id" *ngFor="let item of Campanas">{{item.campana}}</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="exampleInputEmail1">Proveedor</label>
							<select name="id_proveedor" id="id_proveedor" class="form-control" #c (change)="getCarterasxProveedor(c.value)" [(ngModel)]="objeto_filtro.id_proveedor">
								<option value=""></option>
								<option [value]="item.id_proveedor" *ngFor="let item of Proveedores_filtro">{{item.proveedor}}</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="exampleInputEmail1">Cartera</label>
							<select name="id_cartera" id="id_cartera" class="form-control" #d [(ngModel)]="objeto_filtro.id_cartera">
								<option value=""></option>
								<option [value]="item.id_cartera" *ngFor="let item of Carteras_filtro">{{item.cartera}}</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8" style="text-align:right;">
				<button class="btn btn-primary" style="margin: 10px 0 10px 0" [disabled]="!estadoFiltro()" (click)="filtrarMatrizPonderaciones()">Filtrar</button>
			</div>
		</div>
	</form>
</div>




<p-dataTable #dt
	[value]="MatrizPonderaciones"
	exportFilename="Matriz de ponderaciones"
	selectionMode="single"
	[responsive]="true"
	[(selection)]="MatrizPonderacionesSelected"
	[rows]="8" 
	[paginator]="true"
	(onRowDblclick)="editarModal(dt)"
	(onRowSelect)="handleMatrizPonderacionesRowSelect($event)"
	(onRowUnselect)="handleMatrizPonderacionesRowSelect($event)"
	resizableColumns="true"
	[style]="{'font-size': '10pt'}">
		<p-column field="id" header="ID" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
		<p-column field="reaccion" header="Reaccion" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
		<p-column field="descripcion" header="Descripcion" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
		<p-column field="negocio" header="Negocio" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
		<p-column field="campana" header="Campaña" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
		<p-column field="proveedor" header="Proveedor" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
		<p-column field="cartera" header="Cartera" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
		<p-column field="estado" header="Estado" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
		<p-footer>{{total_registros}}</p-footer>
</p-dataTable>

<div class="row top-30">
	<div class="col-sm-6">
		<div>
			<button pButton type="button" icon="fa-plus" iconPos="left" class="btn red-sunglo" (click)="crearModal()"></button>
			<button pButton type="button" icon="fa-pencil" iconPos="left" class="btn red-sunglo" [disabled]="!can_edit" (click)="editarModal(dt)"></button>
			<button pButton type="button" icon="fa-file-excel-o" iconPos="left" class="btn green-jungle" (click)="dt.exportCSV()" label="Generar" [disabled]="!csv"></button>
			<button pButton type="button" icon="fa-refresh" iconPos="left" class="btn yellow-soft" (click)="get(a.value, b.value, c.value, d.value)"></button>
		</div>
	</div>
</div>

<p-dialog header="Matriz de ponderaciones" [(visible)]="display_modal" modal="true" [width]="800" (onHide)="cambiarEstado()">
	<form [formGroup]="Formulario" novalidate="novalidate">
		<input type="hidden" name="id" formControlName="id" [(ngModel)]="objeto.id">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group row">
						<label class="col-md-3 col-form-label">Reacciones</label>
						<div class="col-md-9">
							<select class="form-control" formControlName="id_reaccion" id="id_reaccion" name="id_reaccion" [(ngModel)]="objeto.id_reaccion" #r (change)="obtenerDetalles(r.value)">
								<option value=""></option>
								<option [value]="item.id" *ngFor="let item of Reacciones">{{item.reaccion}}</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label">Negocio</label>
						<div class="col-md-9">
							<select class="form-control" formControlName="id_negocio" id="id_negocio" name="id_negocio" [(ngModel)]="objeto.id_negocio">
								<option value=""></option>
								<option [value]="item.id" *ngFor="let item of Negocios">{{item.negocio}}</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label">Campaña</label>
						<div class="col-md-9">
							<select class="form-control" formControlName="id_campana" id="id_campana" name="id_campana" [(ngModel)]="objeto.id_campana">
								<option value=""></option>
								<option [value]="item.id" *ngFor="let item of Campanas">{{item.campana}}</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label">Proveedor</label>
						<div class="col-md-9">
							<select class="form-control" formControlName="id_proveedor" id="id_proveedor" name="id_proveedor" [(ngModel)]="objeto.id_proveedor" #ca (change)="getCarterasxProveedor(ca.value, 'creacion')">
								<option value=""></option>
								<option [value]="item.id" *ngFor="let item of Proveedores">{{item.proveedor}}</option>
							</select>
							<!-- <input type="hidden" class="form-control" formControlName="id_proveedor" id="id_proveedor" name="id_proveedor" [(ngModel)]="objeto.id_proveedor" readonly> -->
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group row">
						<label class="col-md-3 col-form-label">Cartera</label>
						<div class="col-md-9">
							<select class="form-control" formControlName="id_cartera" id="id_cartera" name="id_cartera" [(ngModel)]="objeto.id_cartera">
								<option value=""></option>
								<option [value]="item.id" *ngFor="let item of Carteras">{{item.cartera}}</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label">Descripción</label>
						<div class="col-md-9">
							<input type="text" class="form-control" formControlName="descripcion" id="descripcion" name="descripcion" [(ngModel)]="objeto.descripcion" readonly>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label">Estado</label>
						<div class="col-md-9">
							<select class="form-control" formControlName="estado" name="estado" [(ngModel)]="objeto.estado">
								<option value="activo">Activo</option>
								<option value="inactivo">Inactivo</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label"></label>
						<div class="col-md-9">
							<input type="button" class="btn btn-primary" value="Crear" [disabled]="!Formulario.valid" (click)="set()" *ngIf="accion=='agregar'">
							<input type="button" class="btn btn-primary" value="Editar" [disabled]="!Formulario.valid" (click)="update()" *ngIf="accion=='editar'">
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</p-dialog>