<h4>Usuarios</h4>

<p-growl [(value)]="msjs"></p-growl>

<p-dataTable #dt
	[value]="Usuarios"
	[rows]="8"
	[paginator]="true"
	selectionMode="single"
	[responsive]="true"
	(onRowDblclick)="editarModal(dt)"
	[(selection)]="usuariosSelected"
	(onRowSelect)="handleUsuariosRowSelect($event)"
	(onRowUnselect)="handleUsuariosRowSelect($event)"
	resizableColumns="true"
	[style]="{'font-size': '10pt'}">
		<p-column field="id" header="ID" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
		<p-column field="usuario" header="Usuario" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
		<p-column field="id_proveedor" header="id_proveedor" hidden="true" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
		<p-column field="proveedor" header="Proveedor" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
		<p-column field="id_cartera" header="id_cartera" hidden="true" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
		<p-column field="cartera" header="Cartera" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
		<p-column field="fecha_ingreso_kobsa" header="Fecha de ingreso a Kobsa" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
		<p-column field="fecha_ingreso_portafolio" header="Fecha de ingreso a Portafolio" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
		<p-column field="condicion_kobsa" header="Condición Kobsa" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
		<p-column field="condicion_portafolio" header="Condición Portafolio" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
		<p-column field="id_jefe_cuenta" header="Jefe de cuenta" hidden="true" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
		<p-column field="jefe_cuenta" header="Jefe de cuenta" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
		<p-column field="turno" header="turno" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
		<p-column field="estado" header="estado" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
</p-dataTable>

<div class="row top-30">
	<div class="col-sm-6">
	 <div>
		<!-- <button pButton type="button" icon="fa-plus" iconPos="left" class="btn red-sunglo" (click)="crearModal()"></button> -->
		<button pButton type="button" icon="fa-pencil" iconPos="left" class="btn red-sunglo" [disabled]="!can_edit" (click)="editarModal(dt)"></button>
		<button pButton type="button" icon="fa-file-excel-o" iconPos="left" class="btn green-jungle" (click)="dt.exportCSV()" label="Generar" [disabled]="!csv"></button>
		<button pButton type="button" icon="fa-refresh" iconPos="left" class="btn yellow-soft" (click)="get()"></button>
	 </div>
	</div>
</div>


<p-dialog header="Usuarios" [(visible)]="display_modal" modal="true" [width]="1000" [height]="400" (onHide)="cambiarEstado()">
	<form [formGroup]="Formulario" novalidate="novalidate">
		<input type="hidden" name="id" formControlName="id" [(ngModel)]="objeto.id">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-md-4 control-label">F. Ingreso Kobsa</label>
							<div class="col-md-8">
								<input type="text" class="form-control" formControlName="fecha_ingreso_kobsa" id="fecha_ingreso_kobsa" name="fecha_ingreso_kobsa">
							</div>
						</div>
					</div>
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-md-4 control-label">Condición Kobsa</label>
							<div class="col-md-8">
								<input type="text" class="form-control" formControlName="condicion_kobsa" id="condicion_kobsa" name="condicion_kobsa" [(ngModel)]="objeto.condicion_kobsa" readonly="true">
							</div>
						</div>
					</div>
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-md-4 control-label">Proveedor</label>
							<div class="col-md-8">
								<select class="form-control" formControlName="id_proveedor" id="id_proveedor" name="id_proveedor" [(ngModel)]="objeto.id_proveedor" #p (change)="buscarCarteras(p.value)">
									<option value=""></option>
									<option [value]="item.id" *ngFor="let item of Proveedores">{{item.proveedor}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-md-4 control-label">Cartera</label>
							<div class="col-md-8">
								<select class="form-control" formControlName="id_cartera" id="id_cartera" name="id_cartera" [(ngModel)]="objeto.id_cartera">
									<option value=""></option>
									<option [value]="item.id_cartera" *ngFor="let item of Carteras">{{item.cartera}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-md-4 control-label">Condición Kobsa</label>
							<div class="col-md-8">
								<input type="text" class="form-control" formControlName="condicion_kobsa" id="condicion_kobsa" name="condicion_kobsa" [(ngModel)]="objeto.condicion_kobsa" readonly="true">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-5">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-md-4 control-label">F. Ingreso Portafolio</label>
							<div class="col-md-8">
								<input type="text" class="form-control" formControlName="fecha_ingreso_portafolio" id="fecha_ingreso_portafolio" name="fecha_ingreso_portafolio" [(ngModel)]="objeto.fecha_ingreso_portafolio">
							</div>
						</div>
					</div>
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-md-4 control-label">Condición Portafolio</label>
							<div class="col-md-8">
								<input type="text" class="form-control" formControlName="condicion_portafolio" id="condicion_portafolio" name="condicion_portafolio" [(ngModel)]="objeto.condicion_portafolio" readonly="true">
							</div>
						</div>
					</div>
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-md-4 control-label">Jefe de cuenta</label>
							<div class="col-md-8">
								<select class="form-control" formControlName="id_jefe_cuenta" name="id_jefe_cuenta" [(ngModel)]="objeto.id_jefe_cuenta">
									<option value=""></option>
									<option [value]="item.id_jefe_cuenta" *ngFor="let item of JefeCuenta">{{item.usuario}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-md-4 control-label">Turno</label>
							<div class="col-md-8">
								<select class="form-control" formControlName="turno" name="turno" [(ngModel)]="objeto.turno">
									<option value="Manana">Mañana</option>
									<option value="Tarde">Tarde</option>
									<option value="Full-Time">Full-Time</option>
									<option value="Part-Time">Part-Time</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-md-4 control-label">Estado</label>
							<div class="col-md-8">
								<select class="form-control" formControlName="estado" name="estado" [(ngModel)]="objeto.estado">
									<option value="activo">Activo</option>
									<option value="inactivo">Inactivo</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-md-4 control-label"></label>
							<div class="col-md-8">
								<input type="button" class="btn btn-primary" value="Crear" [disabled]="!Formulario.valid" (click)="set()" *ngIf="accion=='agregar'" />
								<input type="button" class="btn btn-primary" value="Editar" [disabled]="!Formulario.valid" (click)="update()" *ngIf="accion=='editar'" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</p-dialog>