<p-dialog header="No tan rápido..." [(visible)]="display_modal" modal="modal" width="300" [closable]="false">
    	<input type="password" name="password" id="password" class="form-control" #p (keypress)="comprobar(p.value)">
        <p-footer>
            <button type="button" pButton icon="fa-gitlab" (click)="comprobar(p.value)" label="¡Awaawawaaaa!"></button>
        </p-footer>
</p-dialog>

<div *ngIf="!display_modal">
	<h1>Eso es verdad :)</h1>
	<h4 style="text-align:center">Mixely hermosa, guapa, preciosa</h4>
	<img src="assets/img/imagen.png" alt="">
</div>