<p-growl [(value)]="msjs"></p-growl>
<p-sidebar [(visible)]="display_sidebar" position="right" [ngStyle]="{width: '40px'}">
    Content
</p-sidebar>


<p-dataTable #dt1
  [value]="Agentes"
  selectionMode="single"
  resizableColumns="true"
  [rows]="10" 
	[paginator]="true"
	(onRowDblclick)="cargarGestiones(dt1)"
	(onRowSelect)="handleAgentesRowSelect($event)"
	(onRowUnselect)="handleAgentesRowSelect($event)"
  [style]="{'width':'450px'}"
  [style]="{'font-size': '10pt'}">
	<p-column field="id" header="ID" [sortable]="true" [filter]="true" [style]="{'width':'60px'}" filterPlaceholder="Filtrar"></p-column>
	<p-column field="agente" header="Agente" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
</p-dataTable>
<br>

<p-dataTable #dt2
  [value]="Gestiones"
  selectionMode="single"
  resizableColumns="true"
  [style]="{'font-size': '10pt'}">
  <p-header>Gestiones de usuario</p-header>
	<p-column field="id" header="ID" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
	<p-column field="documento" header="Documento" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
	<p-column field="cliente" header="Cliente" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
	<p-column field="telefono" header="Telefono" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
	<p-column field="fecha" header="Fecha de error" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
	<p-column field="negocio" header="Negocio" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
	<p-column field="status_audio" header="Status_audio" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
	<p-column field="nota" header="Nota" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
	<p-column field="comentarios" header="Comentarios" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
	<p-column field="validar_email" header="Validar email" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
</p-dataTable>

<div class="row top-30">
  <div class="col-sm-6">
	 <div>
		<!-- <button pButton type="button" icon="fa-plus" iconPos="left" class="btn red-sunglo" (click)="crearModal()"></button> -->
		<button pButton type="button" icon="fa-file-excel-o" iconPos="left" class="btn green-jungle" (click)="generarCSV(dt)" label="Generar" [disabled]="!csv"></button>
		<button pButton type="button" icon="fa-refresh" iconPos="left" class="btn yellow-soft" (click)="get()"></button>
		<button pButton type="button" icon="fa-pencil" iconPos="left" class="btn yellow-soft" (click)="showSidebar()"></button>
	 </div>
  </div>
</div>
