<h4>Atributo - Clasificación</h4>

<p-growl [(value)]="msjs"></p-growl>

<p-dataTable #dt
	[value]="AtributosClasificaciones"
	selectionMode="single"
	resizableColumns="true"
	exportFilename="Campanas"
	[responsive]="true"
	[(selection)]="atributoClasificacionSelected"
	[rows]="8"
	[paginator]="true"
	(onRowDblclick)="editarModal(dt)"
	(onRowSelect)="handleAtributoClasificacionRowSelect($event)"
	(onRowUnselect)="handleAtributoClasificacionRowSelect($event)"
	[style]="{'font-size': '10pt'}">
		<p-column field="id" header="ID" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
		<p-column field="clasificacion" header="Clasificacion" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
		<p-column field="atributo" header="Atributo" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
		<p-column field="estado" header="Estado" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
</p-dataTable>

<div class="row top-30">
	<div class="col-sm-6">
	 <div>
		<button pButton type="button" icon="fa-plus" iconPos="left" class="btn red-sunglo" (click)="crearModal()"></button>
			<button pButton type="button" icon="fa-pencil" iconPos="left" class="btn red-sunglo" [disabled]="!can_edit" (click)="editarModal(dt)"></button>
			<button pButton type="button" icon="fa-file-excel-o" iconPos="left" class="btn green-jungle" (click)="dt.exportCSV()" label="Generar" [disabled]="!csv"></button>
			<button pButton type="button" icon="fa-refresh" iconPos="left" class="btn yellow-soft" (click)="get()"></button>
	 </div>
	</div>
</div>

<p-dialog header="Campañas" [(visible)]="display_modal" modal="true" [width]="600" (onHide)="cambiarEstado()">
	<form [formGroup]="Formulario" novalidate="novalidate">
		<input type="hidden" name="id" formControlName="id" [(ngModel)]="objeto.id">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group row">
					<label class="col-md-3 col-form-label">Clasificación</label>
					<div class="col-md-9">
						<select class="form-control" formControlName="id_clasificacion" id="id_clasificacion" name="id_clasificacion" [(ngModel)]="objeto.id_clasificacion">
							<option [value]="item.id" *ngFor="let item of Clasificaciones">{{item.clasificacion}}</option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label">Atributo</label>
					<div class="col-md-9">
						<select class="form-control" formControlName="id_atributo" id="id_atributo" name="id_atributo" [(ngModel)]="objeto.id_atributo">
							<option [value]="item.id" *ngFor="let item of Atributos">{{item.atributo}}</option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label">Estado</label>
					<div class="col-md-9">
						<select class="form-control" formControlName="estado" name="estado" [(ngModel)]="objeto.estado">
							<option value="activo">Activo</option>
							<option value="inactivo">Inactivo</option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label"></label>
					<div class="col-md-9">
						<input type="button" class="btn btn-primary" value="Crear" [disabled]="!Formulario.valid" (click)="set()" *ngIf="accion=='agregar'">
						<input type="button" class="btn btn-primary" value="Editar" [disabled]="!Formulario.valid" (click)="update()" *ngIf="accion=='editar'">
					</div>
				</div>
			</div>
		</div>
	</form>
</p-dialog>