<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet> 
    </div>
  </div>
</div>
<!-- <p-dialog header="Si encuentran una chica más linda, renuncio." [(visible)]="display_hp" modal="true">
	<h4 style="text-align:center">Mixely hermosa, guapa, preciosa</h4>
	<img src="assets/img/imagen.png" alt="">
</p-dialog> -->