<h4>Resultados - Reacciones</h4>

<p-growl [(value)]="msjs"></p-growl>

<p-dataTable #dt
	[value]="ResultadosReacciones"
	selectionMode="single"
	exportFilename="Resultados - Reacciones"
	[responsive]="true"
	[(selection)]="ResultadosReaccionesSelected"
	[rows]="10" 
	[paginator]="true"
	(onRowDblclick)="editarModal(dt)"
	(onRowSelect)="handleResultadosReaccionesRowSelect($event)"
	(onRowUnselect)="handleResultadosReaccionesRowSelect($event)"
	resizableColumns="true"
	[style]="{'font-size': '10pt'}">
		<p-column field="id" header="ID" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
		<p-column field="actividad" header="Actividad" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
		<p-column field="resultado" header="Resultado" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
		<p-column field="justificacion" header="Justificacion" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
		<p-column field="contactabilidad" header="Contactabilidad" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
		<p-column field="reaccion" header="Reaccion" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
		<p-column field="negocio" header="Negocio" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
		<p-column field="proveedor" header="Proveedor" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
		<p-column field="cartera" header="Cartera" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
		<p-column field="estado" header="Estado" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
		<p-footer>{{total_registros}}</p-footer>
</p-dataTable>

<div class="row top-30">
	<div class="col-sm-6">
		<div>
			<!-- <button pButton type="button" icon="fa-plus" iconPos="left" class="btn red-sunglo" (click)="crearModal()"></button> -->
			<button pButton type="button" icon="fa-pencil" iconPos="left" class="btn red-sunglo" [disabled]="!can_edit" (click)="editarModal(dt)"></button>
			<button pButton type="button" icon="fa-file-excel-o" iconPos="left" class="btn green-jungle" (click)="dt.exportCSV()" label="Generar" [disabled]="!csv"></button>
			<button pButton type="button" icon="fa-refresh" iconPos="left" class="btn yellow-soft" (click)="get()"></button>
		</div>
	</div>
</div>


<p-dialog header="Resultados - Reacciones" [(visible)]="display_modal" modal="true" [width]="800" (onHide)="cambiarEstado()">
	<form [formGroup]="Formulario" novalidate="novalidate">
		<input type="hidden" name="id" formControlName="id" [(ngModel)]="objeto.id">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group row">
					<label class="col-md-3 col-form-label">Actividad</label>
					<div class="col-md-9">
						<input type="text" class="form-control" formControlName="actividad" id="actividad" name="actividad" [(ngModel)]="objeto.actividad" readonly="true">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label">Resultado</label>
					<div class="col-md-9">
						<input type="text" class="form-control" formControlName="resultado" id="resultado" name="resultado" [(ngModel)]="objeto.resultado" readonly="true">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label">Justificación</label>
					<div class="col-md-9">
						<input type="text" class="form-control" formControlName="justificacion" id="justificacion" name="justificacion" [(ngModel)]="objeto.justificacion" readonly="true">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label">Contactabilidad</label>
					<div class="col-md-9">
						<input type="text" class="form-control" formControlName="contactabilidad" id="contactabilidad" name="contactabilidad" [(ngModel)]="objeto.contactabilidad" readonly="true">
					</div>
				</div>				
			</div>
			<div class="col-md-6">
				<div class="form-group row">
					<label class="col-md-3 col-form-label">Reacción</label>
					<div class="col-md-9">
						<select class="form-control" formControlName="id_reaccion" id="id_reaccion" name="id_reaccion" [(ngModel)]="objeto.id_reaccion">
							<option value=""></option>
							<option [value]="item.id" *ngFor="let item of Reacciones">{{ item.reaccion }}</option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label">Negocio</label>
					<div class="col-md-9">
						<input type="text" class="form-control" formControlName="negocio" id="negocio" name="negocio" [(ngModel)]="objeto.negocio" readonly="true">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label">Proveedor</label>
					<div class="col-md-9">
						<input type="text" class="form-control" formControlName="proveedor" id="proveedor" name="proveedor" [(ngModel)]="objeto.proveedor" readonly="true">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label">Cartera</label>
					<div class="col-md-9">
						<input type="text" class="form-control" formControlName="cartera" id="cartera" name="cartera" [(ngModel)]="objeto.cartera" readonly="true">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label">Estado</label>
					<div class="col-md-9">
						<select class="form-control" formControlName="estado" name="estado" [(ngModel)]="objeto.estado">
							<option value="activo">Activo</option>
							<option value="inactivo">Inactivo</option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label"></label>
					<div class="col-md-9">
						<!-- <input type="button" class="btn btn-primary" value="Crear" [disabled]="!Formulario.valid" (click)="set()"> -->
						<input type="button" class="btn btn-primary" value="Crear" [disabled]="!Formulario.valid" (click)="set()" *ngIf="accion=='agregar'">
						<input type="button" class="btn btn-primary" value="Editar" [disabled]="!Formulario.valid" (click)="update()" *ngIf="accion=='editar'">
					</div>
				</div>
			</div>

		</div>
	</form>
</p-dialog>