<h4>Portafolios</h4>

<p-growl [(value)]="msjs"></p-growl>

<p-dataTable #dt
  [value]="Portafolios"
  exportFilename="Portafolios"
  [rows]="8"
  [paginator]="true"
  selectionMode="single"
  [responsive]="true"
  [(selection)]="portafoliosSelected"
  (onRowDblclick)="editarModal(dt)"
  (onRowSelect)="handlePortafoliosRowSelect($event)"
  (onRowUnselect)="handlePortafoliosRowSelect($event)"
  resizableColumns="true"
  [style]="{'font-size': '10pt'}">
    <p-column field="id" header="ID" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
  	<p-column field="negocio" header="Negocio" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
    <p-column field="id_proveedor" header="ID Proveedor" hidden="true" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
    <p-column field="proveedor" header="Proveedor" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
    <p-column field="id_cartera" header="ID Cartera" hidden="true" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
    <p-column field="cartera" header="Cartera" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
  	<p-column field="jefe_cuenta" header="Jefe de cuenta" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
  	<p-column field="diacorte" header="Día de corte" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
  	<p-column field="base" header="Base" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
  	<p-column field="estado" header="Estado" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
</p-dataTable>

<div class="row top-30">
  <div class="col-sm-6">
    <div>
      <button pButton type="button" icon="fa-plus" iconPos="left" class="btn red-sunglo" (click)="crearModal()"></button>
      <button pButton type="button" icon="fa-pencil" iconPos="left" class="btn red-sunglo" [disabled]="!can_edit" (click)="editarModal(dt)"></button>
      <button pButton type="button" icon="fa-file-excel-o" iconPos="left" class="btn green-jungle" (click)="dt.exportCSV()" label="Generar" [disabled]="!csv"></button>
      <button pButton type="button" icon="fa-refresh" iconPos="left" class="btn yellow-soft" (click)="get()"></button>
    </div>
  </div>
</div>


<p-dialog header="Portafolios" [(visible)]="display_modal" modal="true" [width]="600" (onHide)="cambiarEstado()">
  <form [formGroup]="Formulario" novalidate="novalidate">
    <input type="hidden" name="id" formControlName="id" [(ngModel)]="objeto.id">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group row">
          <label class="col-md-3 col-form-label">Negocio</label>
          <div class="col-md-9">
            <select class="form-control" formControlName="id_negocio" id="id_negocio" name="id_negocio" [(ngModel)]="objeto.id_negocio" (change)="cargarProveedoresxNegocio()">
              <option value=""></option>
              <option [value]="item.id" *ngFor="let item of Negocios">{{item.negocio}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">Proveedor</label>
          <div class="col-md-9">
            <select class="form-control" formControlName="id_proveedor" id="id_proveedor" name="id_proveedor" [(ngModel)]="objeto.id_proveedor" (change)="cargarCarterasxProveedor()">
              <option value=""></option>
              <option [value]="item.id" *ngFor="let item of Proveedores">{{item.proveedor}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">Cartera</label>
          <div class="col-md-9">
            <select class="form-control" formControlName="id_cartera" id="id_cartera" name="id_cartera" [(ngModel)]="objeto.id_cartera">
              <option value=""></option>
              <option [value]="item.id_cartera" *ngFor="let item of Carteras">{{item.cartera}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">Jefe de cuenta</label>
          <div class="col-md-9">
            <select class="form-control" formControlName="id_jefe_cuenta" id="id_jefe_cuenta" name="id_jefe_cuenta" [(ngModel)]="objeto.id_jefe_cuenta">
              <option value=""></option>
              <option [value]="item.id_jefe_cuenta" *ngFor="let item of JefesCuenta">{{item.usuario}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">Día de corte</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="diacorte" id="diacorte" name="diacorte" [(ngModel)]="objeto.diacorte">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">Base</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="base" id="base" name="base" [(ngModel)]="objeto.base" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">Estado</label>
          <div class="col-md-9">
            <select class="form-control" formControlName="estado" name="estado" [(ngModel)]="objeto.estado">
              <option value="activo">Activo</option>
              <option value="inactivo">Inactivo</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label"></label>
          <div class="col-md-9">
            <input type="button" class="btn btn-primary" value="Crear" [disabled]="!Formulario.valid" (click)="set()" *ngIf="accion=='agregar'">
            <input type="button" class="btn btn-primary" value="Editar" [disabled]="!Formulario.valid" (click)="update()" *ngIf="accion=='editar'">
          </div>
        </div>
      </div>
    </div>
  </form>
</p-dialog>