<h4>Tipos de Error - Atributo</h4>

<p-growl [(value)]="msjs"></p-growl>

<p-dataTable #dt
  [value]="TiposDeErrorAtributo"
  selectionMode="single"
  resizableColumns="true"
  exportFilename="Tipos de Error - Atributo"
  [responsive]="true"
  [(selection)]="TiposDeErrorAtributoSelected"
  [rows]="8" [paginator]="true"
  (onRowDblclick)="editarModal(dt)"
  (onRowSelect)="handleTiposDeErrorAtributoRowSelect($event)"
  (onRowUnselect)="handleTiposDeErrorAtributoRowSelect($event)"
  resizableColumns="true"
  [style]="{'font-size': '10pt'}">
    <p-column field="id" header="ID" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
  	<p-column field="atributo" header="Atributo" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
  	<p-column field="tipo_error" header="Tipo de error" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
  	<p-column field="ctq" header="CTQ" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column> 
  	<p-column field="estado" header="Estado" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar"></p-column>
</p-dataTable>

<div class="row top-30">
  <div class="col-sm-6">
    <div>
      <button pButton type="button" icon="fa-plus" iconPos="left" class="btn red-sunglo" (click)="crearModal()"></button>
      <button pButton type="button" icon="fa-pencil" iconPos="left" class="btn red-sunglo" [disabled]="!can_edit" (click)="editarModal(dt)"></button>
      <button pButton type="button" icon="fa-file-excel-o" iconPos="left" class="btn green-jungle" (click)="dt.exportCSV()" label="Generar" [disabled]="!csv"></button>
      <button pButton type="button" icon="fa-refresh" iconPos="left" class="btn yellow-soft" (click)="get()"></button>
    </div>
  </div>
</div>


<p-dialog header="Tipos de error - Atributo" [(visible)]="display_modal" modal="true" [width]="600" (onHide)="cambiarEstado()">
  <form [formGroup]="Formulario" novalidate="novalidate">
    <input type="hidden" name="id" formControlName="id" [(ngModel)]="objeto.id">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group row">
          <label class="col-md-3 col-form-label">Atributo</label>
          <div class="col-md-9">
            <select class="form-control" formControlName="id_atributo" id="id_atributo" name="id_atributo" [(ngModel)]="objeto.id_atributo">
              <option [value]="item.id" *ngFor="let item of Atributos">{{item.atributo}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">Tipo de error</label>
          <div class="col-md-9">
            <select class="form-control" formControlName="id_tipo_error" id="id_tipo_error" name="id_tipo_error" #te [(ngModel)]="objeto.id_tipo_error" (change)="getCTQ(te.value)">
              <option [value]="item.id" *ngFor="let item of TiposErrores">{{item.tipo_error}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">CTQ</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="ctq" id="ctq" name="ctq" [(ngModel)]="objeto.ctq" readonly="true">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">Estado</label>
          <div class="col-md-9">
            <select class="form-control" formControlName="estado" name="estado" [(ngModel)]="objeto.estado">
              <option value="activo">Activo</option>
              <option value="inactivo">Inactivo</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label"></label>
          <div class="col-md-9">
            <input type="button" class="btn btn-primary" value="Crear" [disabled]="!Formulario.valid" (click)="set()" *ngIf="accion=='agregar'">
            <input type="button" class="btn btn-primary" value="Editar" [disabled]="!Formulario.valid" (click)="update()" *ngIf="accion=='editar'">
          </div>
        </div>
      </div>
    </div>
  </form>
</p-dialog>